:root {
  --font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contrrol {
  background-color: transparent;
  color: #ffffff;
  display: block;
  width: 100%;
  outline: 0;
  border: none;
  border-bottom: 1px solid #fcfcfc;
}

.intruder h5  {
  color: white;
  text-align: center;
  font-size: 1.35em;
  font-weight: 500;
  line-height: 1.1;
}

.intruder div .btn  {
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  background-color: #a5763e;
}

.container {
  height: 70svh;
  width: 70svw;
  background-color: #201c42;
  align-self: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side2 {
  background-image: url("img/UPPER-SMPL-TRF.jpeg");
  background-size:cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 100svh;
  width: 100svw;
  border-radius:5px 0px 0px 5px;
  flex: 0 0 70%;
 }
 
 .right-side2 {
  background-image: radial-gradient(at 0% 30%, #ffffff21, #ffffff21), url("img/MOUNTAINS-02.png");
  background-size:cover;
  background-position: bottom 0svh right -670px;
  background-repeat: no-repeat;
  height: 20svh;
  width: 100svw;
  align-self: end;
  flex:0 0 30%;
 }

 .intruder {
  height: 70svh;
  width: 50svh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: -17.5%;
  transform: translate(-80%, -50%);
  background-image: url("img/HIGHLANDS_-02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 150;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
 }

 .logos {
  position: absolute;
  top: 17%;
  left: 50%;
 }

 .log-trio {
  max-width: 150px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -90%);
 }

 a {
  color: inherit;
 }

 label {
  color: rgb(214, 214, 214);
  font-size: 0.9em;
 }

 .textos-bottom {
  color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -150%);
  z-index: 151;
 }

 .textos-bottom small {
  font-size: 0.8em;
 }



 .contenido1 {
  position: absolute;
  left: 2svw;
  top: auto;
  bottom: 2.65svh;
  opacity: 1;
  font-size: 4.85em;
  font-weight: 100;
  font-family:'roboto condensed';
  line-height: 0.75;
  opacity: 0.7;
  text-align: left;
  color: white;
 }

 @media (max-width: 376px) {

  .contenido1 {
    position: absolute;
    left: 1svw;
    top: 1svh;
    bottom: auto;
    opacity: 1;
    font-size: 2.9em;
    font-weight: 100;
   }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logos {
    position: absolute;
    top: 13%;
    left: 50%;
   }

  .log-trio {
    max-width: 100px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -90%);
   }
   .left-side2 {
    background-image: url("img/RESTOS-SM-06.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 40%;
   }
   
   .right-side2 {
    background-image: radial-gradient(at 0% 30%, #ffffff21, #ffffff21), url("img/MOUNTAINS-02.png");
    background-size: cover;
    background-position: bottom 0svh right -150px;
    background-repeat: no-repeat;
    height: 15svh;
    width: 100svw;
    flex: 0 0 60%;
   }

   .intruder {
    height: 75svh;
    width: 40svh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
   }

  .textos-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   .textos-bottom small {
    font-size: 0.6em;
   }

   .intruder h5  {
    color: white;
    text-align: center;
    font-size: 1.05em;
    font-weight: 500;
    line-height: 1.1;
  }
 }

 @media (min-width: 383px) and (max-width: 480px) {
  .contenido1 {
    position: absolute;
    left: 1svw;
    top: 1svh;
    bottom: auto;
    opacity: 0.7;
    font-size: 3.48em;
    font-weight: 100;
    color: white;
   }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textos-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
   }
  
   .textos-bottom small {
    font-size: 0.65em;
   }
  

  .logos {
    position: absolute;
    top: 14%;
    left: 50%;
   }

  .log-trio {
    max-width: 105px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -90%);
   }


  .intruder h5  {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.1;
  }

  .left-side2 {
    background-image: url("img/RESTOS-SM-06.png");
    background-size:cover;
    background-position: center;
    /* NO ES ESTE PORQUE CREO QUE LA IMAGEN LLENA CON LAS JUSTAS */
    background-repeat: no-repeat;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 45%;
   }
   
   .right-side2 {
    background-image: radial-gradient(at 0% 30%, #ffffff21, #ffffff21), url("img/MOUNTAINS-02.png");
    background-size: 150%;
    background-position:0% 95%;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    aspect-ratio: 1 /1;
    flex: 0 0 55%;
   }

   .intruder {
    opacity: 1;
    height: 55svh;
    width: 40svh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
   }
 }

 @media (min-width: 481px) and (max-width: 1022px) {
  .contenido1 {
    position: absolute;
    left: 2svw;
    bottom: 2svh;
    opacity: 0.7;
    font-size: 3.18em;
    font-weight: 100;
    text-align: left;
    transform-origin: top right;
    /* transform: rotate(90deg); */
    color: #ffffff;
   }

  .left-side2 {
    background-image: url("img/TENDERO-neg.png");
    background-size:cover;
    background-position: 45% 0%;
    background-repeat: no-repeat;
    height: 100svh;
    width: 100svw;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 65%;
   }
   
   .right-side2 {
    background-image: radial-gradient(at 0% 30%, #ffffff21, #ffffff21), url("img/MOUNTAINS-02.png");
    background-size:cover;
    background-position: bottom 0svh right -150px;
    background-repeat: no-repeat;
    height: 28svh;
    width: 10svw;
    align-self: end;

    flex: 0 0 35%;
   }

   .intruder {
    height: 75svh;
    width: 40svh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 69%;
    transform: translate(-50%, -50%);
    z-index: 100;
   }

   .logos {
    position: absolute;
    top: 14%;
    left: 50%;
   }
 }

 @media (min-width: 1023px) and (max-width: 1199px) {

  body {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .intruder h5  {
    color: white;
    text-align: center;
    font-size: 1.35em;
    font-weight:300;
    line-height: 1.1;
  }
  
  .intruder div .btn  {
    color: white;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    background-color: #a5763e;
  }
  
  form {
    color: white;
    font-size: 0.75em;
  }
  
  .container {
    height: 70svh;
    width: 70svw;
    background-color: #201c42;
    align-self: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-side2 {
    background-image: url("img/TENDERO1c.png");
    background-size:cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 100svh;
    width: 100svw;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 70%;
   }
   
   .right-side2 {
    background-image: radial-gradient(at 0% 30%, #ffffff21, #ffffff21), url("img/MOUNTAINS-02.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 28svh;
    width: 10svw;
    align-self: end;
    flex: 0 0 50%;
   }
  
   .intruder {
    height: 85svh;
    width: 60svh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 80%;/* 
    transform: translate(-80%, -50%); */
    z-index: 100;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
   }

   .textos-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
   }

   .textos-bottom small {
    font-size: 0.69em;
   }

   label {
    color: rgb(214, 214, 214);
    font-size: 1em;
   }


 }