


:root {
  --font-family: 'Roboto Condensed', sans-serif;
}


html, body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at left 10%,  #d8d8d8, #dadada);
}

.container {
  height: 80svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;/* 
  align-self: center; */
  align-items: center;/* 
  padding-top: 5svh;
  padding-bottom: 5svh; */
  /* padding-right: 0svw;
  padding-left: 0svw; */
}

.upper-side2 {
  background-color: #201c42;
  border-radius: 10px 10px 0px 0px;
  width: 80svw;
  opacity: 1;
  flex: 0 0 10%;
  display: flex;
  padding-inline: 2em;
 }

 .title {
  margin-inline: auto;
  margin-block: auto;
  color: #d9b850;
  font-family: 'roboto condensed';
  font-weight: 700;
  font-size: 2em;
  text-align: center;
 }

 .leave {
  height: 1vh;
  margin-block: auto;
 }

 .logosplendor {
  height: 4vh;
  margin-block: auto;
 }
 
 .middle-side2 {
  width: 80svw;
  opacity: 1;
  flex:0 0 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
 }

 .bottom-side2 {
  width: 80svw;
  opacity: 1;
  background-color: #f2f2f2;
  color: #acacac;
  border-radius: 0px 0px 10px 10px;
  flex:0 0 10% ;
  display: flex;
  flex-direction: column;
  font-family: 'roboto condensed';
  /* justify-content: center; */
  padding-top: 2.15svh;
  padding-bottom: 0.5svh;
  align-items: center;
 }

 .bottom-side2 h3 {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
 }

 .bottom-side2 p {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
  line-height: 0.6;
 }

 .button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 50svw;
  height: 90%;
 }
 
 .button-main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-inline: auto;
 }

 .button-box .button-main {
  flex:0 0 20%;
 }

 .clickable {
  background-image:radial-gradient(at right 10%,  #f5f5f5, #f1f1f1);
  font-family: 'roboto condensed';
  font-weight: 100;
  color: #d9b850;
  padding-inline: 1.25svw;
  padding-block: 1.25svh;
  border-radius: 5%;
  transition: transform 300ms,
              color 250ms,
              background-image 250ms;
 }

 .clickable:hover {
  text-decoration: none;
  transform: translateY(-0.25rem);
  color: #cea931;
  background-image:radial-gradient(at right 10%,  #f0f0f0, #ececec);
  transition: transform 300ms,
              color 250ms,
              background-image 250ms;
 }

 .iconos-responsivos {
  height: 15svh;
  transition: transform 800ms,
              filter 800ms;
  }

.iconos-responsivos:hover,
.iconos-responsivos:focus-visible {
  transform: translateY(-0.5rem);
  filter: hue-rotate(-7deg)
          brightness(85%);
  transition: transform 250ms,
              filter 350ms;
}

.spanish-inquisition {
  display: flex; 
  flex-direction: row; 
  width: 40svw; 
  margin-inline: auto; 
  justify-content: space-evenly; 
  padding-right: 1svw; 
  padding-left: 1svw;
}



 @media (max-width: 376px) {

  body {
    display: flex;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: auto;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;/* 
    align-self: center; */
    align-items: center;/* 
    padding-top: 5svh;
    padding-bottom: 5svh; */
    /* padding-right: 0svw;
    padding-left: 0svw; */
  }

  .upper-side2 {
    background-color: #201c42;
    border-radius: 10px 10px 0px 0px;
    width: 95svw;
    opacity: 1;
    flex: 0 0 10%;
    display: flex;
    padding-inline: 2em;
   }

  .middle-side2 {
    width: 95svw;
    flex:0 0 80%;
    display: flex;
    align-items: center;/* 
    background-color: #ffffff; */
   }

   .bottom-side2 {
    width: 95svw;
    opacity: 1;
    background-color: #f2f2f2;
    color: #acacac;
    border-radius: 0px 0px 10px 10px;
    flex:0 0 10% ;
    display: flex;
    flex-direction: column;
    font-family: 'roboto condensed';
    /* justify-content: center; */
    padding-top: 2.15svh;
    padding-bottom: 0.5svh;
    align-items: center;
   }
  
   .bottom-side2 h3 {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
   }
  
   .bottom-side2 p {
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    line-height: 0.6;
   }

   .button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 90svw;
    gap: 1em;
    padding-top: 3svh;
    /* background-color: #cea931; */
    height: 90%;
   }

   .spanish-inquisition {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 1em;
    width: 100svw;
    padding-bottom: 2em;
    /* padding-right: 1svw; 
    padding-left: 1svw; */
  }

  .spanish-inquisition .button-main {
    gap: 3svw;
    flex:0 0 100%;/* 
    background-color: #f81c14; */
  }
 
   .button-box .button-main {
    flex:0 0 45%;
   }

   .title {
    margin-inline: auto;
    margin-block: auto;
    color: #d9b850;
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
   }

   .iconos-responsivos {
    height: 10svh;
    transition: transform 800ms,
                filter 800ms;
    }
  
  .iconos-responsivos:hover,
  .iconos-responsivos:focus-visible {
    transform: translateY(-0.5rem);
    filter: hue-rotate(-7deg)
            brightness(85%);
    transition: transform 250ms,
                filter 350ms;
  }
  
   


 }

 

 @media (min-width: 383px) and (max-width: 480px) {
  body {
    display: flex;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: auto;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;/* 
    align-self: center; */
    align-items: center;/* 
    padding-top: 5svh;
    padding-bottom: 5svh; */
    /* padding-right: 0svw;
    padding-left: 0svw; */
  }

  .upper-side2 {
    background-color: #201c42;
    border-radius: 10px 10px 0px 0px;
    width: 95svw;
    opacity: 1;
    flex: 0 0 10%;
    display: flex;
    padding-inline: 2em;
   }

  .middle-side2 {
    width: 95svw;
    flex:0 0 80%;
    display: flex;
    align-items: center;/* 
    background-color: #ffffff; */
   }

   .bottom-side2 {
    width: 95svw;
    opacity: 1;
    background-color: #f2f2f2;
    color: #acacac;
    border-radius: 0px 0px 10px 10px;
    flex:0 0 10% ;
    display: flex;
    flex-direction: column;
    font-family: 'roboto condensed';
    /* justify-content: center; */
    padding-top: 2.15svh;
    padding-bottom: 0.5svh;
    align-items: center;
   }
  
   .bottom-side2 h3 {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
   }
  
   .bottom-side2 p {
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    line-height: 0.6;
   }

   .button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 90svw;
    gap: 1em;
    padding-top: 3svh;
    /* background-color: #cea931; */
    height: 90%;
   }

   .spanish-inquisition {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 1em;
    width: 100svw;
    padding-bottom: 2em;
    /* padding-right: 1svw; 
    padding-left: 1svw; */
  }

  .spanish-inquisition .button-main {
    gap: 3svw;
    flex:0 0 100%;/* 
    background-color: #f81c14; */
  }
 
   .button-box .button-main {
    flex:0 0 45%;
   }

   .title {
    margin-inline: auto;
    margin-block: auto;
    color: #d9b850;
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
   }

   .iconos-responsivos {
    height: 10svh;
    transition: transform 800ms,
                filter 800ms;
    }
  
  .iconos-responsivos:hover,
  .iconos-responsivos:focus-visible {
    transform: translateY(-0.5rem);
    filter: hue-rotate(-7deg)
            brightness(85%);
    transition: transform 250ms,
                filter 350ms;
  }
  
   


 }

 @media (min-width: 481px) and (max-width: 1022px) {
  .container {
    height: 95svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;/* 
    align-self: center; */
    align-items: center;/* 
    padding-top: 5svh;
    padding-bottom: 5svh; */
    padding-right: 0svw;
    padding-left: 0svw;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 50svw;/* 
    background-color: #cea931; */
    height: 90%;
   }

   .spanish-inquisition {
    display: flex; 
    flex-direction: row; 
    gap: 1svw;
    width: 100%;
    /* padding-right: 1svw; 
    padding-left: 1svw; */
  }

  .spanish-inquisition .clickable {
    gap: 2svw;    /* THIS */
  }

   .button-main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin-inline: auto;
   }
  
   .button-box .button-main {
    flex:0 0 1%;

   }

   .spanish-inquisition .button-main {
    gap: 3svw;
    flex:0 0 15%;/* 
    background-color: #f81c14; */
  }

  .bottom-side2 {
    padding-top: 3.25svh;
    padding-bottom: 0.25svh;
    align-items: center;
   }
  
   .bottom-side2 h3 {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
   }
  
   .bottom-side2 p {
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    line-height: 0.6;
   }


 }

 @media (min-width: 1023px) and (max-width: 1199px) {

  .iconos-responsivos {
/*     min-height: 15svh; */
    transition: transform 800ms,
                filter 800ms;
    }

    .bottom-side2 {
      background-color: #f2f2f2;
      color: #acacac;
      flex:0 0 10% ;
      font-family: 'roboto condensed';
      padding-top: 15px;
      align-items: center;
     }
    
     .bottom-side2 h3 {
      font-size: 1em;
      font-weight: 700;
      text-align: center;
      line-height: 0.8;
     }
    
     .bottom-side2 p {
      font-size: 0.6em;
      font-weight: 700;
      text-align: center;
      line-height: 0.6;
     }

  .button-main .text-center {
    font-size: 0.7em;
  }

  body {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 80svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;/* 
    align-self: center; */
    align-items: center;/* 
    padding-top: 5svh;
    padding-bottom: 5svh; */
    padding-right: 0svw;
    padding-left: 0svw;
  }

  .spanish-inquisition {
    display: flex; 
    flex-direction: row; 
    width: 37svw; /* no */
    margin-inline: auto; 
    justify-content: space-between; 
    padding-right: 0svw; 
    padding-left: 0svw;
  }



  .clickable {
    background-image:radial-gradient(at right 10%,  #f5f5f5, #f1f1f1);
    font-family: 'roboto condensed';
    font-weight: 100;
    color: #d9b850;
    padding-inline: 1.25svw;
    padding-block: 1.25svh;
    border-radius: 5%;
    transition: transform 300ms,
                color 250ms,
                background-image 250ms;
   }
  
   .iconos-responsivos {
    height: 15svh;
    transition: transform 800ms,
                filter 800ms;
    }
    
  
 }