:root {
  --font-family: 'Roboto Condensed', sans-serif;
}


html, body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at left 10%,  #acacac, #acacac);
}

.intruder h5  {
  color: white;
  text-align: center;
  font-size: 1.35em;
  font-weight: 500;
  line-height: 1.1;
}

.intruder div .btn  {
  color: white;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  background-color: #a5763e;
}

form {
  color: white;
  font-size: 0.75em;
}

.container {
  height: 70svh;
  width: 70svw;
  display: flex;
  flex-direction: column;
  justify-content: center;/* 
  align-self: center; */
  align-items: center;/* 
  padding-top: 5svh;
  padding-bottom: 5svh; */
  padding-right: 0svw;
  padding-left: 0svw;
}

.upper-side2 {
  
  background-color: #201c42;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  opacity: 1;
  flex: 0 0 10%;
 }
 
 .middle-side2 {
  width: 100%;
  opacity: 1;
  flex:0 0 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
 }

 .bottom-side2 {
  width: 100%;
  opacity: 1;
  background-color: #f2f2f2;
  border-radius: 0px 0px 10px 10px;
  flex:0 0 10% ;
 }

 .button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50svw;
  height: 90%;
  /* background-color: rgb(126, 156, 182); */
 }
 

 .button-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
 }

 .button-box .button-main {
  flex:0 0 20%;
 }

 .clickable {
  background-image:radial-gradient(at right 10%,  #f5f5f5, #f1f1f1);
  font-family: 'roboto condensed';
  font-weight: 100;
  color: #d9b850;
  padding-inline: 1.25svw;
  padding-block: 1.25svh;
  border-radius: 5%;
  transition: transform 300ms,
              color 250ms,
              background-image 250ms;
 }

 .clickable:hover {
  text-decoration: none;
  transform: translateY(-0.25rem);
  color: #cea931;
  background-image:radial-gradient(at right 10%,  #f0f0f0, #ececec);
  transition: transform 300ms,
              color 250ms,
              background-image 250ms;
 }

 .iconos-responsivos {
  min-height: 15svh;
  transition: transform 800ms,
              filter 800ms;
  }

 /* .iconos-responsivos {
  transition: transform 800ms;
} */

.iconos-responsivos:hover,
.iconos-responsivos:focus-visible {
  transform: translateY(-0.5rem);
  filter: hue-rotate(-7deg)
          brightness(85%);
  transition: transform 250ms,
              filter 350ms;
}

 .intruder {
  height: 70svh;
  width: 50svh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: -17.5%;
  transform: translate(-80%, -50%);
  background-image: radial-gradient(at 0% 30%,#00437f, #201c42); /* , url("img/leather.jpg") */
  z-index: 100;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
 }

 .logos {
  position: absolute;
  top: 20%;
  left: 50%;
 }

 .log-trio {
  max-width: 270px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -90%);
 }

 .textos-bottom {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -150%);
 }

 .textos-bottom small {
  font-size: 0.8em;
 }

 /* ESTOS ESTILOS SOLO APLICAN AL INDEX1.HTML */

 .left-side {
  height: 67svh; 
  border-radius:5px 0px 0px 5px;
 }
 
 .right-side {
  height: 67svh;
  border-radius:0px 5px 5px 0px;
 }



 @media (max-width: 376px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logos {
    position: absolute;
    top: 12%;
    left: 50%;
   }

  .log-trio {
    max-width: 230px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -90%);
   }

   .left-side2 {
    background-image: url("img/RESTOS-SM-06.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 40%;
   }
   
   .right-side2 {
    border-radius:0px 5px 5px 0px;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.336);
    flex: 0 0 60%;
   }

   .intruder {
    height: 75svh;
    width: 40svh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
   }

    /* HASTA AQUI LAS CLASES ANIADIDAS PARA SM DEVICES */

  .textos-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   .textos-bottom small {
    font-size: 0.69em;
   }

   .intruder h5  {
    color: white;
    text-align: center;
    font-size: 1.05em;
    font-weight: 500;
    line-height: 1.1;
  }
 }

 @media (min-width: 383px) and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textos-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
   }
  
   .textos-bottom small {
    font-size: 0.65em;
   }
  
  .logos {
    position: absolute;
    top: 18%;
    left: 50%;
   }

  .log-trio {
    max-width: 230px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -90%);
   }

  .intruder h5  {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.1;
  }

  .left-side2 {
    background-image: url("img/RESTOS-SM-06.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 40%;
   }
   
   .right-side2 {
    border-radius:0px 5px 5px 0px;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.336);
    flex: 0 0 60%;
   }

   .intruder {
    height: 75svh;
    width: 40svh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
   }
 }

 @media (min-width: 481px) and (max-width: 1022px) {
  .left-side2 {
    background-image: url("img/297095123_5293358030742651_5627364099322196086_n.jpg");
    background-size:cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100svh;
    width: 100svw;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 50%;
   }
   
   .right-side2 {
    background-image: radial-gradient(at 0% 30%, #ffffff54, #ffffff5e), url("img/leather.jpg");
    height: 100svh;
    width: 100svw;
    border-radius:0px 5px 5px 0px;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.336);
    flex:0 0 50%;
   }
 }

 @media (min-width: 1023px) and (max-width: 1199px) {

  body {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .intruder h5  {
    color: white;
    text-align: center;
    font-size: 1.35em;
    font-weight:300;
    line-height: 1.1;
  }
  
  .intruder div .btn  {
    color: white;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    background-color: #a5763e;
  }
  
  form {
    color: white;
    font-size: 0.75em;
  }
  
  .container {
    height: 70svh;
    width: 70svw;
    background-color: #201c42;
    align-self: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-side2 {
    background-image: url("img/INTRANET-01.png");
    background-size:cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 100svh;
    width: 100svw;
    border-radius:5px 0px 0px 5px;
    flex: 0 0 70%;
   }
   
   .right-side2 {
    background-color: #d8d8d8;
    height: 100svh;
    width: 100svw;
    border-radius:0px 5px 5px 0px;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.336);
    flex:0 0 30%;
   }
  
   .intruder {
    height: 85svh;
    width: 60svh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    z-index: 100;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
   }

   .textos-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
   }

   .textos-bottom small {
    font-size: 0.69em;
   }


 }