:root {
  --font-family: 'Roboto Condensed', sans-serif;
}

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("img/textura-mkt.png");
}

.contenedor {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.075), 0 6px 6px rgba(0, 0, 0, 0.158);
  padding-right: 0;
  padding-left: 0;
  border-radius: 10px;
}

.upper-side2 {
  background-color: #0e3264;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  opacity: 1;
  flex: 0 0 10%;
  display: flex;
  padding-inline: 1em;
 }

 .title {
  margin-inline: auto;
  margin-block: auto;
  color: #d9b850;
  font-family: 'roboto condensed';
  font-weight: 700;
  font-size: 2em;
  text-align: center;
 }

 .leave {
  height: 1vh;
  margin-block: auto;
 }

 .logosplendor {
  height: 4vh;
  margin-block: auto;
 }
 
 .middle-side2 {
  width: 100%;
  opacity: 1;
  flex:0 0 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
 }

 .bottom-side2 {
  width: 100%;
  background-image: url("img/other-texture-01-01.png"), 
                    radial-gradient(circle at bottom center,  #9797977c, #8686869c);
  background-size: cover;
  background-position: center;
  color: #797979;
  border-radius: 0px 0px 10px 10px;
  flex:0 0 10%;
  display: flex;
  flex-direction: column;
  font-family: 'roboto condensed';
 }

 .bottom-side2 h3 {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
 }

 .bottom-side2 p {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
  line-height: 0.6;
 }

 .button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  height: 90%;
 }
 
 .button-main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-inline: auto;
 }

 .button-box .button-main {
  flex:0 0 20%;
 }

 .clickable {
  background-image:radial-gradient(at right 90%,  #fafafa, #ffffff);
  font-family: 'roboto condensed';
  font-weight: 100;
  color: #d9b850;
  padding-inline: 1.25svw;
  padding-block: 1.25svh;
  border-radius: 5%;
  transition: transform 300ms,
              color 250ms,
              background-image 250ms;
 }

 .clickable:hover {
  text-decoration: none;
  transform: translateY(-0.25rem);
  color: #cea931;
  background-image:radial-gradient(at right 10%,  #fafafa, #fcfcfc);
  transition: transform 300ms,
              color 250ms,
              background-image 250ms;
 }

 .iconos-responsivos {
  height: 18svh;
  transition: transform 800ms,
              filter 800ms;
  }

.iconos-responsivos:hover,
.iconos-responsivos:focus-visible {
  transform: translateY(-0.5rem);
  filter: hue-rotate(-7deg)
          brightness(85%);
  transition: transform 250ms,
              filter 350ms;
}

.spanish-inquisition {
  display: flex; 
  flex-direction: row; 
  width: 75%; 
  margin-inline: auto; 
  justify-content: space-evenly; 
  padding-right: 1svw; 
  padding-left: 1svw;
}

.footer-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-main .text-center {
  font-size: 1.1em;
}

 @media (max-width: 376px) {

  body {
    display: flex;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .contenedor {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upper-side2 {
    background-color: #0e3264;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    opacity: 1;
    flex: 0 0 10%;
    display: flex;
    padding-block: 0.5em;
   }

  .middle-side2 {
    width: 100%;
    flex:0 0 80%;
    display: flex;
    align-items: center;
   }

   .bottom-side2 {
    width: 100%;
    opacity: 1;
    /* background-color: #f2f2f2; */
    color: #797979;
    border-radius: 0px 0px 10px 10px;
    flex:0 0 10% ;
    display: flex;
    flex-direction: column;
    font-family: 'roboto condensed';
    align-items: center;
   }
  
   .bottom-side2 h3 {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
   }
  
   .bottom-side2 p {
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    line-height: 0.6;
   }

   .button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 90svw;
    gap: 1em;
    padding-top: 3svh;
    height: 90%;
   }

   .spanish-inquisition {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 1em;
    width: 100svw;
    padding-bottom: 2em;
  }

  .spanish-inquisition .button-main {
    gap: 3svw;
    flex:0 0 100%;
  }
 
   .button-box .button-main {
    flex:0 0 45%;
   }

   .title {
    margin-inline: auto;
    margin-block: auto;
    color: #d9b850;
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
   }

   .iconos-responsivos {
    height: 5svh;
    transition: transform 800ms,
                filter 800ms;
    }

    
  .button-main .text-center {
    font-size: 0.8em;
  }
  
  .iconos-responsivos:hover,
  .iconos-responsivos:focus-visible {
    transform: translateY(-0.5rem);
    filter: hue-rotate(-7deg)
            brightness(85%);
    transition: transform 250ms,
                filter 350ms;
  }
 }

 @media (min-width: 383px) and (max-width: 480px) {
  body {
    display: flex;
    height:100svh;
    width: 100svw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor {
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upper-side2 {
    background-color: #0e3264;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    opacity: 1;
    flex: 0 0 10%;
    display: flex;
    padding-block: 0.5em;
   }

  .middle-side2 {
    width: 100%;
    flex:0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
   }

   .bottom-side2 {
    width: 100%;
    opacity: 1;
    /* background-color: #f2f2f2; */
    color: #797979;
    border-radius: 0px 0px 10px 10px;
    flex:0 0 10% ;
    display: flex;
    flex-direction: column;
    font-family: 'roboto condensed';
    align-items: center;
   }
  
   .bottom-side2 h3 {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
   }
  
   .bottom-side2 p {
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    line-height: 0.6;
   }

   .button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 95%;
   }

   .spanish-inquisition {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
  }

  .spanish-inquisition .button-main {
    gap: 3svw;
    flex:0 0 70%;
  }
 
   .button-box .button-main {
    flex:0 0 45%;
   }

   .title {
    margin-inline: auto;
    margin-block: auto;
    color: #d9b850;
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
   }

   .iconos-responsivos {
    height: 9svh;
    transition: transform 800ms,
                filter 800ms;
    }

  .iconos-responsivos:hover,
  .iconos-responsivos:focus-visible {
    transform: translateY(-0.5rem);
    filter: hue-rotate(-7deg)
            brightness(85%);
    transition: transform 250ms,
                filter 350ms;
  }
      
  .button-main .text-center {
    font-size: 0.85em;
  }
  
 }

 @media (min-width: 481px) and (max-width: 1022px) {
  .contenedor {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0svw;
    padding-left: 0svw;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 50svw;
    height: 90%;
   }

   .spanish-inquisition {
    display: flex; 
    flex-direction: row; 
    gap: 1svw;
    width: 100%;
  }

  .spanish-inquisition .clickable {
    gap: 2svw; 
  }

   .button-main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin-inline: auto;
   }
  
   .button-box .button-main {
    flex:0 0 1%;
   }

   .spanish-inquisition .button-main {
    gap: 3svw;
    flex:0 0 15%;
  }

  .bottom-side2 {
    align-items: center;
   }
  
   .bottom-side2 h3 {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
   }
  
   .bottom-side2 p {
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    line-height: 0.6;
   }

   .iconos-responsivos {
    height: 14svh;
    transition: transform 800ms,
                filter 800ms;
    }

    .button-main .text-center {
      font-size: 0.8em;
    }


 }

 @media (min-width: 1023px) and (max-width: 1199px) {

      .iconos-responsivos {
      transition: transform 800ms,
                  filter 800ms;
     }

     .upper-side2 {
      background-color: #0e3264;
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      opacity: 1;
      flex: 0 0 10%;
      display: flex;
      padding-block: 0.5em;
     }
  
    .middle-side2 {
      width: 100%;
      flex:0 0 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
     }

     .bottom-side2 {
      color: #797979;
      flex:0 0 13.2% ;
     }
    
     .bottom-side2 h3 {
      font-size: 1em;
      font-weight: 700;
      text-align: center;
      line-height: 0.8;
     }
    
     .bottom-side2 p {
      font-size: 0.6em;
      font-weight: 700;
      text-align: center;
      line-height: 0.6;
     }

      .button-main .text-center {
        font-size: 0.8em;
      }

/*       body {
        height: 100svh;
        width: 100svw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      } */

      .contenedor {
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
      }

      .clickable {
        font-family: 'roboto condensed';
        font-weight: 100;
        color: #d9b850;
        padding-inline: 1.25svw;
        padding-block: 1.25svh;
        border-radius: 5%;
        transition: transform 300ms,
                    color 250ms,
                    background-image 250ms;
      }
      
      .iconos-responsivos {
        height: 20svh;
        transition: transform 800ms,
                    filter 800ms;
        }

        
      .spanish-inquisition {
        display: flex; 
        flex-direction: row; 
        width: 75%; 
        padding-top: 1em; 
        justify-content: space-between; 
        padding-right: 0svw; 
        padding-left: 0svw;
      }

        .button-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          width: 70%;
         }
      
 }